.animated-die {
  width: 80px;
  height: 80px;
  margin: 5px;
  position: relative;
  perspective: 800px;
}

.dice-face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 8px;
  transform-style: preserve-3d;
  transform: translateZ(40px);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease;
}

.dice-face:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

@keyframes roll {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

.roll-animation {
  animation: roll 2s ease-in-out;
}
.round-counter {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
}
.game-title {
  font-family: 'Fredoka One', cursive;
  font-size: 52px;
  font-weight: bold;
  color: white;
  margin: 0 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 1px black;
  /* text-stroke: 1px black; */
  text-align: center;
}

.play-zone {
  width: 50%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: fixed;
  top: 30px; /* Start just after the RoundCounter with additional spacing */
  left: 0;
  border: 2px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  background-image: url('../Image/PlayZoneBackground3.jpg');
  background-size: cover;
}

.rest-zone {
  width: 50%;
  height: 70px;
  position: fixed;
  top: calc(50vh + 110px);
  left: 0;
  border: 2px solid #ccc;
  margin: 30px 0;
  box-sizing: border-box;
  box-shadow: 10px 30px 60px -10px rgba(0, 0, 0, 0.4) inset,
    5px 5px 10px -5px rgba(0, 0, 0, 0.2) inset;
  border-radius: 20px;
  border-bottom: 1px solid #efdec9;
  border-right: 1px solid #e2cbaf;
  background-image: url('../Image/background1.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: -20px 0;
  align-items: center;
}

.rest-zone button {
  width: 60px;
  height: 60px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 8px;
}

.game-board {
  perspective: 800px;
}

.dice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animated-die {
  width: 60px; /* Adjust the width and height of the dice */
  height: 60px;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.dice-face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg); /* Center the text and initial rotation */
}

.selected {
  background-color: green;
}

.button-container {
  position: absolute;
  bottom: -95px; /* Adjust the distance from the bottom */
  left: 40%; /* Align the buttons to the center horizontally */
  transform: translateX(-50%);
  display: flex;
  gap: 10px; /* Add some space between the buttons */
}

.button-container button {
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px; /* Adjust the font size as needed */
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../Image/background1.jpg');
  background-size: cover;
  background-position: center;
}

.game-board {
  width: 100%;
  height: 50%;
  position: relative;
}

.scoreboard-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
}
.reset-button {
  position: absolute;
  top: 25vh;
  left: 40vh;
  width: 30%;
  height: 100%;
}
.livescore-container {
  position: absolute;
  top: 35vh;
  right: 10px;
  width: 30%;
  height: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: black;
}

.dot-top-left {
  top: 15%;
  left: 15%;
}

.dot-top-right {
  top: 15%;
  right: 15%;
}

.dot-middle-left {
  top: 50%;
  left: 23%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%);
}

.dot-middle-right {
  top: 50%;
  right: 23%; /* Adjust the right position as needed */
  transform: translate(50%, -50%);
}

.dot-middle-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot-bottom-left {
  bottom: 15%;
  left: 15%;
}

.dot-bottom-right {
  bottom: 15%;
  right: 15%;
}

@keyframes roll {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

.roll-animation {
  animation: roll 2s ease-in-out;
}
